{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>About Us Section</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="/templates/style.css">
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>About Us</h1>
                </div>
                <div class="content">
                    <h3>Hotel-Tag</h3>
                    <p>Hotel-Tag is a platform that makes it easy for its users to find available hotels accommodating traveler's with a need.
                        Just by inputting of their city, a list of hotels will be presented to them,
                        and from their choice, they'll be required to put in their intended check-in and check-out date.
                         The price and tax rates will be outputted along with different options to get the best rates for booking.
                         <br></br>
                         The registration into this app is pretty seamless, and once a user is registered, they can now log in with just their
                          username and password for easy access of the app.</p>
                </div>
            </div>
        </div>
    </div>
</body>
<body>
      <section class="news-box top-margin">
        <div class="container">
            <div class="row">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <img src="user_image" alt="">
                            <div class="caption maxheight2">
                                <div class="box_inner">
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <div class="image">
                                <img src=".jpg" alt="">
                            </div>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box1">
                                            <p class="title"><strong>Jacob Frencher</strong></p>
                                            <p>Computer Science Major at Iowa State University</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <img src=".jpg" alt="">
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box2">
                                            <p class="title"><strong>Ben Josue</strong></p>
                                            <p>Computer Science Major at University of Georgia</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <img src=".jpg" alt="">
                            <div class="caption maxheight2">
                           <div class="box_inner">
                                        <div class="box3">
                                            <p class="title"><strong>Yvonne</strong></p>
                                            <p>Computer Science and Applied Engineering Major at Huston-Tillotson University</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<style>
p{
    font-family: Comic Sans MS;
    font-size: 30px;
    background: rgb(243, 230, 255);
}
.box3{
    width: 150%;
}
{% endblock content %}