{% extends "layout.html" %}
{% block content %}

<!-- Im going to work on styling it but here is the basic layout, its subject to change as well lol -->
<!-- Once i find out a style for the home page I'll add it to the other pages as well! -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Welcome to Hotel Search">
	
	<title>Welcome to Hotel Search</title>

</head>
<body>
	  
      <section class="news-box top-margin">
        <div class="container">
            <h2><span>Welcome to Hotel Search</span></h2>
            <div class="row">                
                    <div class="newsBox">
                        <div class="thumbnail">
                            <img src="/images/hotel_3.jpg" alt="">
                            <div class="caption maxheight2">
                                <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><strong>Find the most best and most affordable deals</strong></p>
                                            <p>Start by a quick search of your future stay's city</p>
                                        </div>
                                        
                                </div>
                            </div> 
                        </div>
                    </div>                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src=".jpg" alt=""></figure>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><strong>Lorem ipsum</strong></p>
                                            <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                        </div>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src=".jpg" alt=""></figure>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><strong>Lorem ipsum</strong></p>
                                            <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                        </div>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src=".jpg" alt=""></figure>
                            <div class="caption maxheight2">
                           <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><strong>Lorem ipsum</strong></p>
                                            <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p>
                                        </div>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <section class="container">
      <div class="row">
      	<div class="col-md-4"><div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div> 
        <p><span>Hotel Search is a hotel finding platform accomadating travaler's with a hotel with an input of their city and intended check-in and check-out date</span></p>
        <p>Our website is designed for all travelers looking for a hotel to reserve at the most affordable price</p>
      </section>

</body>
</html>
{% endblock content %}